.builder-container {
  margin: 7%;
  display: grid;
  grid-template-areas:
    "deck-name"
    "deck-stats"
    "deck"
    "save";
  grid-gap: 5%;
}

.deck-name-container {
  grid-area: deck-name;
}

.deck-stats-container {
  grid-area: deck-stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
  color: white;
  font-size: 1rem;
  justify-items: center;
  text-align: center;
}

.deck-container {
  grid-area: deck;
  color: #a5a0bb;
  border: 1px dashed #4f37c1;
  border-radius: 5px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

::-webkit-scrollbar-thumb {
  background: #9450de;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

.deck-name {
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
}

.deck-name:focus {
  background-color: white;
  color: black;
  padding-left: 5px;
}

.deck-name::placeholder {
  color: white;
}

:focus {
  outline-color: transparent;
}

.deck-code {
  border-radius: 5px;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.9rem;
  padding-left: 5px;
}

.save-container {
  grid-area: save;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  color: #cac4e4;
  background-color: #34286f;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.cardDeck {
  width: 270px;
  height: 40px;
  background-size: cover;
}

.card-cost {
  border: 1px solid yellow;
  width: 20px;
  border-radius: 30px;
  color: white;
  box-shadow: rgba(20, 11, 36, 0.8) 0px 0px 6px 0px, black 0px 0px 0px 2px inset;
  background-image: linear-gradient(
      138deg,
      rgb(160, 223, 246) 18%,
      rgba(41, 150, 164, 0) 35%,
      rgba(41, 150, 164, 0) 67%,
      rgb(160, 223, 246) 82%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgb(47, 79, 143),
      rgb(41, 70, 129) 44%,
      rgb(9, 127, 149) 73%,
      rgb(45, 165, 183) 76%
    );
  text-align: center;
}

.card-name {
  text-shadow: rgb(0, 0, 0) 0px 1px 3px;
  color: white;
  width: 185px;
}

.card-quantity {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 173, 112);
  border-image: initial;
  background: linear-gradient(
    313.24deg,
    rgb(56, 43, 33) 0%,
    rgb(46, 33, 33) 100%
  );
  margin: 2px;
  padding: 0px 4px;
  border-radius: 3px;
  width: 25px;
  color: white;
  text-align: center;
}

.deckstats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  box-shadow: rgba(20, 11, 36, 0.3) 0px 2px 10px 4px;
  cursor: pointer;
  /* background: linear-gradient(90deg, rgb(59, 125, 111) 30%, rgba(59, 125, 111, 0) 70%), url(https://cdn-lor.mobalytics.gg/production/images/cards-preview/01SI011.webp) right center no-repeat; */
  padding: 8px;
  border-radius: 6px;
}

@media (max-width: 1000px) {
  .deck-stats-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
